<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>Picture Reveal</title>
      <link rel="stylesheet" type="text/css" href="css/reset.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
      <div id="frame-wrapper2">
        <p class="stanza">Let sea-discoverers to new worlds have gone,</br>
        Let maps to others, worlds on worlds have shown,</br>
        Let us possess one world, each hath one, and is one.</p>
    <!--       <div id="outline">
            <img id="before" class="fade" src="">
          </div>
          <div id="picture", "fade-in">
            <img id="after" src="">
          </div> -->
          <div class="button"><a href="index.html">&darr;</a></div>
          <div class="button2"><a href="nextchoice.html">&uarr;</a></div>
          <div class="button3"><a href="export.html">Export</a></div>

          <div class="history">
            <div class="choice">   <div class="choice2"></div>
</div>
          </div>

      </div>
    <script src="js/main.js"></script>
  </body>
</html>